{% extends 'base.html' %}
{% block content %}
    <section class="home">
        <div class="row">
            <div class="col">
                <h1 class="center-align">Norfolk Snowsports Club</h1>
                <h2 class="center-align">Volunteer Hours</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1">
                <h3>About This Site</h3>
                <p>This site is where instructors can record there voluntered lessons and claim expenses.</p>
                <p>The current expense per voluntered hour as an instructor/coach is <strong>£4.80</strong> with a minimum of <strong>£7.20</strong> per lesson. The mileage expense is caluclated by the amount of miles traveled from your house to Norfolk Snowsports club x <strong>£0.25</strong></p>
                <p>Thank you all for your volunteer time and if you have any questions please contact the office team using the form below.</p>
            </div>
        </div>
    </section>
{% endblock %}